* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

.container {
    margin: auto;
    width: 80%;
    overflow: hidden;
}

/*****NAV*****/

.logo {
    float: left;
    height: 60px;
    margin-top: 5px;
    padding-left: 10%;
}

nav {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
}

nav ul {
    float: right;
    list-style: none;
    padding-right: 10%;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    text-decoration: none;
    line-height: 70px;
    padding: 0 20px;
    font-size: 16px;
    transition: 0.2s;
    text-transform: uppercase;
    font-weight: 500;
}

nav ul li a:hover,
.current {
    color: #2a78b0;
}

/***HEADER****/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/header.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10% 0px;
}

.header-text h1 {
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: white;
}


.header-text p {
    font-size: 20px;
    line-height: 30px;
    color: white;
    padding-bottom: 40px;
}

.header-text a {
    text-decoration: none;
    color: white;
    background-color: #1bb138;
    padding: 10px 20px;
    transition: 0.2s;
}

.header-text a:hover {
    background-color: #1dbc3d;
}

/*********STAZE*****/
.staza .naslov {
    padding-bottom: 50px;
}

.staza .naslov h1 {
    text-align: center;
    padding: 150px 0px 20px 0px;
    font-size: 30px;
    text-transform: uppercase;
    color: #2c2c2c;
}

.staza .naslov p {
    text-align: center;
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 50px;
    color: #2c2c2c;
}


.prva-staza img {
    width: 50%;
    float: left;
    position: absolute;
    left: 0;
}

.druga-staza img {
    width: 50%;
    float: right;
    position: absolute;
    right: 0;
}

.prva-staza .text {
    float: right;
    width: 50%;
    color: #2c2c2c;
    padding: 0 2rem;
}

.druga-staza .text {
    float: left;
    width: 50%;
    color: #2c2c2c;
    padding: 0 2rem;
    margin-bottom: 100px;
}

.prva-staza .text h2,
.druga-staza .text h2 {
    font-size: 26px;
    padding-bottom: 30px;
}

.prva-staza .text h3,
.druga-staza .text h3 {
    font-size: 22px;
    padding-bottom: 10px;
}

.prva-staza .text p,
.druga-staza .text p {
    line-height: 26px;
    padding-bottom: 20px;
}

/********FOOTER******/
footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    font-family: Arial, sans-serif;
    padding: 45px 50px;
    margin-top: 80px;
}

footer .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}


footer p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

footer p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: #fff;
    transition: color 0.2s;
}

footer p.footer-links a:hover {
    color: #b9b9b9;
}

footer .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

footer .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: background-color 0.2s;
}

footer .footer-right a:hover {
    background-color: #464646;
}


/*****MEDIA QUIERIES*****/
@media (max-width: 768px) {

    /******NAV********/
    .logo {
        float: none;
    }

    .logo-container {
        width: 140px;
        margin: 0 auto;
    }

    nav {
        height: 100%;
    }

    nav ul {
        float: none;
        padding-right: 0;
    }

    nav ul li {
        float: none;
        text-align: center;
        border-bottom: 1px solid #cecece;
    }


    /*******HEADER*****/



    .header-text {
        width: 100%;
    }

    /******STAZE*****/


    .staza .naslov p {
        width: 100%;
    }

    .prva-staza img {
        width: 100%;
        float: none;
        position: static;
    }

    .druga-staza img {
        width: 100%;
        float: none;
        position: static;
    }

    .prva-staza .text {
        width: 100%;
    }

    .druga-staza .text {
        width: 100%;
        padding: 0;
    }



}
